
.conteneur {
  border: 1px dotted #666;
  background-color: plum;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  grid-gap: 10px;
  grid-template-rows: 1fr 3fr;
  justify-items: center;
  align-items: center;
}

.conteneur section {
  border: 1px solid black;
  border-radius: 1em;
  background-color: wheat;
  padding: .6em;
  
}

#B {
  justify-self: stretch;
  align-self: stretch;
  
} 

ul {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-gap: 30px;
  height: 100%;
  list-style-type: none;
}

ul li {
  background-color: gray;
  
}
 
/* 
1) ---
2) ---
3) ---
4) fr représente une fraction de l'espace disponible dans le conteneur de la grille. Ça veut dire que on a les conteneurs #2, #3 de taille fixe. Le reste de l'espace est disponible. Donc conteneur#1 prend le.
5)fr designe une taille relative. Donc on a un conteneur #3 qui est de taille fixé. Le rzeste de l'espace est disponible. Le conteneur #1 prend 1/4 d'espace disponible, et le conteneur #2 prend 3/4 de l'espace disponible.
6) ---
7)Le conteneur #3 passe à la ligne.
8)Le conteneurs #1, #3 sont maintenant de l'hauteur 300px, et le cont#1 est de l'hauteur 50px. Il y a un debordement de texte en cont#3.
9) ---
10)---
11)---
12)---
13)---
*/
